# Blacklist everything
*/**

# Whitelist submodules
!deps/dotdotdot

# Whitelist config and build scripts
!.gitignore
!Makefile

# Whitelist data files
!*.txt

# Whitelist the sourceode and docs
!*.md
!*.c
!*.h
